@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #region FONTS */

  /* #region Gilroy */
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
    src:
      url('../fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src:
      url('../fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
    src:
      url('../fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.eot');
    src:
      url('../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  /* #endregion */

  /* #region Bebas Neue */
  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueRegular.eot');
    src:
      url('../fonts/BebasNeue/BebasNeueRegular.woff2') format('woff2'),
      url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
      url('../fonts/BebasNeue/BebasNeueRegular.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueBold.eot');
    src:
      url('../fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
      url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
      url('../fonts/BebasNeue/BebasNeueBold.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueLight.eot');
    src:
      url('../fonts/BebasNeue/BebasNeueLight.woff2') format('woff2'),
      url('../fonts/BebasNeue/BebasNeueLight.woff') format('woff'),
      url('../fonts/BebasNeue/BebasNeueLight.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/BebasNeue/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Thin.eot');
    src:
      url('../fonts/BebasNeue/BebasNeue-Thin.woff2') format('woff2'),
      url('../fonts/BebasNeue/BebasNeue-Thin.woff') format('woff'),
      url('../fonts/BebasNeue/BebasNeue-Thin.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/BebasNeue/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeue/BebasNeueBook.eot');
    src:
      url('../fonts/BebasNeue/BebasNeueBook.woff2') format('woff2'),
      url('../fonts/BebasNeue/BebasNeueBook.woff') format('woff'),
      url('../fonts/BebasNeue/BebasNeueBook.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/BebasNeue/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* #endregion */

  /* #region Segoe UI */
  @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-Light.eot');
    src:
      url('../fonts/SegoeUI/SegoeUI-Light.woff2') format('woff2'),
      url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff'),
      url('../fonts/SegoeUI/SegoeUI-Light.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot');
    src:
      url('../fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
      url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
      url('../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI.eot');
    src:
      url('../fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
      url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
      url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-Bold.eot');
    src:
      url('../fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2'),
      url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
      url('../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix')
        format('embedded-opentype'),
      url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  /* #endregion */

  /* #endregion */

  body {
    background: linear-gradient(180deg, rgb(0, 9, 1), rgb(11, 26, 12) 100%),
      linear-gradient(180deg, rgb(242, 242, 242), rgb(248, 248, 248) 100%);
  }

  .title-desktop {
    font-size: 44px;
  }

  .grad {
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.55);
    background: linear-gradient(
      180deg,
      rgb(44, 181, 41),
      rgb(27, 120, 37) 100%
    );
  }

  .deposit-btn {
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
  }

  .md-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .big-shadow {
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.1);
  }

  /*Range Reset*/
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 100%;
    height: 12px;
    cursor: pointer;
    padding: 5px 0;
    margin: 0 auto;
    margin-bottom: -5px;
    display: block;
    z-index: 2;
    position: absolute;
    bottom: 0;
  }

  /* Removes default focus */
  input[type='range']:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  input[type='range']::-webkit-slider-runnable-track {
    background-color: #244a7f0f;
    /* background-color: transparent; */
    height: 2px;
  }

  /* slider thumb */
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -3px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: white;
    box-shadow: inset 0px 4px 4px 0px rgba(84, 84, 84, 0.25);
    width: 8px;
    height: 8px;
    border-radius: 50%;

    cursor: grab;
    transition: 0.1s ease-in;
  }
  input[type='range']::-webkit-slider-thumb:hover {
    margin-top: -3px;
    transform-origin: center;
    transform: scale(1.2);
  }

  /******** Firefox styles ********/
  /* slider track */
  input[type='range']::-moz-range-track {
    background-color: #244a7f0f;
    /* background-color: transparent; */
    height: 2px;
  }

  /* slider thumb */
  input[type='range']::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: white;
    box-shadow: inset 0px 4px 4px 0px rgba(84, 84, 84, 0.25);
    width: 8px;
    height: 8px;
    border-radius: 50%;

    cursor: grab;
    transition: 0.1s ease-in;
  }
  input[type='range']::-moz-range-thumb:hover {
    margin-top: -3px;
    transform-origin: center;
    transform: scale(1.2);
  }

  /* thumb grabbing */
  input[type='range']:active::-webkit-slider-thumb {
    cursor: grabbing;
  }
  input[type='range']:active::-moz-range-thumb {
    cursor: grabbing;
  }

  .field {
    padding: 16px;

    background-color: rgba(36, 74, 127, 0.06);
    border-radius: 12px;

    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
  }
  .field::placeholder {
    color: rgba(0, 0, 0, 0.54);
  }
  .field:focus {
    outline: none;
  }

  .radio > div {
    background: rgba(36, 74, 127, 0.06);
  }
  .radio > div > div {
    background: transparent;
  }
  .radio.active > div {
    background: linear-gradient(180deg, rgb(49, 255, 45), rgb(9, 162, 24) 100%);
  }
  .radio.active > div > div {
    background: white;
  }

  .text-white-grad {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(153, 153, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .hero {
    overflow: hidden;
  }

  .hero-card {
    margin-bottom: 40px;
    margin-left: auto;
    padding: 9px;
    width: 196.96px;

    border-radius: 10px;
    box-shadow:
      inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05),
      inset 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.03);

    transform: rotate(14.02deg);
  }

  .ellipse {
    position: absolute;
    background-image: url('../img/ellipse.png');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .hero-ellipse-left,
  .hero-ellipse-right,
  .hero-ellipse-top,
  .hero-safe,
  .hero-coins,
  .hero-curve {
    position: absolute;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero-ellipse-left {
    top: 420px;
    left: -180px;
    width: 336px;
    height: 321px;
  }

  .hero-ellipse-top {
    top: -100px;
    right: -119px;
    width: 456px;
    height: 430px;
  }

  .hero-ellipse-right {
    top: 280px;
    right: -160px;
    width: 456px;
    height: 430px;
  }

  .hero-safe {
    transform: translate(-65px, 254px) scaleX(-1);

    width: 144px;
    height: 144px;

    background-image: url('../img/safe.png');
    z-index: 2;
  }

  .hero-coins {
    transform: translate(-24px, 253px);
    width: 192px;
    height: 185px;

    background-image: url('../img/coins.png');

    z-index: 0;
  }

  .hero-curve {
    transform: translate(-104px, 182px);

    width: 618px;
    height: 226px;

    background-image: url('../img/curve.png');
  }

  .rate {
    background: -webkit-linear-gradient(#ffffff 49%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0 14px 15px rgba(0, 0, 0, 0.5));

    /* text-shadow: 0 14px 15px rgba(0, 0, 0, 0.5); */
  }

  .button {
    border-radius: 12px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.55);
    background: linear-gradient(
      180deg,
      rgb(44, 181, 41),
      rgb(27, 120, 37) 100%
    );
  }

  .open-deposit-text {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(153, 153, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .hero-mini-card {
    border-radius: 24px;
    box-shadow:
      0px 12px 12px 0px rgba(0, 0, 0, 0.1),
      inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05),
      inset 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(48px);
    background: rgba(255, 255, 255, 0.05);
  }

  .mini-ellipse-1 {
    transform: translate(-94px, -63px);
    width: 140px;
    height: 140px;
  }
  .mini-ellipse-2 {
    transform: translate(-94px, 66px);
    width: 140px;
    height: 140px;
  }
  .mini-ellipse-3 {
    transform: translate(-94px, 194px);
    width: 140px;
    height: 140px;
  }
  .mini-ellipse-4 {
    transform: translate(-94px, 321px);
    width: 140px;
    height: 140px;
  }
  .right-ellipse-5 {
    transform: translate(50px, 100px);
    width: 470px;
    height: 451px;
  }

  .shadow-section {
    box-shadow:
      0px 12px 12px 0px rgba(0, 0, 0, 0.1),
      inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05),
      inset 0px 4px 4px 0px rgba(255, 255, 255, 0.15),
      0px 12px 12px 0px rgba(0, 0, 0, 0.1),
      0px 12px 12px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(48px);
    background: rgba(255, 255, 255, 0.05);
  }

  .result-block {
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 28.169%,
        rgb(153, 153, 153) 100%
      ),
      rgba(36, 74, 127, 0.08);
  }

  .white-grad {
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 28.169%,
        rgb(153, 153, 153) 100%
      ),
      rgba(36, 74, 127, 0.06);
  }

  .inner-shadow {
    box-shadow: inset 0px 4px 4px 0px rgba(84, 84, 84, 0.25);
  }

  /* .sticky {
    position: sticky;
    top: 0;
  } */

  .sticky.stuck {
    background-color: white; /* change background color when stuck */
  }

  @media (min-width: 1024px) {
    section {
      /* max-width: 1920px; */
      margin: 0 auto;
    }
    .hero::after {
      top: -720px;
      left: -27%;
      transform: translateX(0);

      width: 2156px;
      height: 1731px;

      background-image: none;
    }
    .hero-ellipse-left {
      top: 170px;
      left: -300px;

      width: 974px;
      height: 929px;
    }
    .hero-ellipse-top {
      right: auto;
      top: -460px;
      left: 500px;

      width: 1353px;
      height: 1283px;
    }
    .hero-ellipse-right {
      right: auto;
      top: 420px;
      left: 890px;

      width: 771px;
      height: 735px;
    }
    .hero-safe {
      transform: translate(-80px, 340px) scaleX(1);

      width: 396px;
      height: 396px;
    }
    .hero-coins {
      transform: translate(110px, 369px);

      width: 349px;
      height: 547px;
    }
    .hero-curve {
      transform: translate(-110px, 230px);

      width: 2073px;
      height: 778px;

      /* z-index: 2; */
    }
    .hero-card {
      margin-bottom: 0;
      padding: 27px;

      width: 648.13px;
      height: 391.53px;

      border-radius: 37px;
      box-shadow:
        inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05),
        inset 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
      /* backdrop-filter: blur(48px); */
      background-color: rgba(255, 255, 255, 0.03);

      transform: rotate(9.86deg);
    }
    .mini-ellipse-1 {
      transform: translate(-359px, -120px);
      width: 180px;
      height: 180px;
    }
    .mini-ellipse-2 {
      transform: translate(152px, -120px);
      width: 180px;
      height: 180px;
    }
    .mini-ellipse-3 {
      transform: translate(-359px, 47px);
      width: 180px;
      height: 180px;
    }
    .mini-ellipse-4 {
      transform: translate(152px, 47px);
      width: 180px;
      height: 180px;
    }
    .right-ellipse-5 {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    .mini-ellipse-1 {
      transform: translate(-73px, -37px);
    }
    .mini-ellipse-2 {
      transform: translate(252px, -37px);
    }
    .mini-ellipse-3 {
      transform: translate(576px, -37px);
    }
    .mini-ellipse-4 {
      transform: translate(898px, -37px);
    }
  }

  @media (min-width: 1920px) {
    .hero-safe {
      transform: translate(240px, 340px) scaleX(1);
    }
    .hero-coins {
      transform: translate(450px, 369px);
    }
    .hero-curve {
      transform: translate(-110px, 230px);
    }
  }

  @media (min-width: 2073px) {
    .hero {
      /* overflow: initial; */
    }
  }
}

/* #region swiperbunle.min.css */
/**
 * Swiper 11.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 27, 2024
 */

@font-face {
  font-family: swiper-icons;
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
  transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}
.swiper-rtl .swiper-button-next svg,
.swiper-rtl .swiper-button-prev svg {
  transform: rotate(180deg);
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-lock {
  display: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  display: inline-block;
  transition:
    0.2s transform,
    0.2s top;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition:
    0.2s transform,
    0.2s left;
}
.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition:
    0.2s transform,
    0.2s right;
}
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}
.swiper-pagination-progressbar {
  background: var(
    --swiper-pagination-progressbar-bg-color,
    rgba(0, 0, 0, 0.25)
  );
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}
.swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-lock {
  display: none;
}
.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-cube {
  overflow: visible;
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-flip {
  overflow: visible;
}
.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}
.swiper-cards {
  overflow: visible;
}
.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
/* #endregion */

/* #region Villages */
.villages {
  margin-top: -80px;
  margin-bottom: 23px;
}
.villages__title {
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 245px;

  font-weight: 900;
  color: rgb(15, 15, 15);
  text-shadow: 0px 6px 5.82px rgba(0, 0, 0, 0.25);
}
.villages__wrapper {
  padding: 10px;

  max-width: 276px;
  margin: 0 auto;
  height: 470px;

  border-radius: 13px;
  background: rgba(255, 255, 255, 0.05);
}
.villages__slider {
  margin: 0;
}
.villages__text-slider {
  margin: 0;
}
.villages__slide-img {
  margin: 0;
}
.villages__slide.swiper-slide {
}
.villages__img {
  width: 100%;
  height: 144px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 9px;
}
.villages__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 290px;
}
.villages__name {
  display: block;
  margin: 15px 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  /* text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25); */
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.villages__text {
  margin: 0;
  margin-bottom: 39px;

  font-size: 11px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.villages__pagination.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 13px;
  top: 170px;
}
.villages__pagination.swiper-pagination .swiper-pagination-bullet {
  margin: 0 2px;
  width: 5px;
  height: 5px;

  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.villages__pagination.swiper-pagination .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;

  /* -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);

    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25); */
}
.villages__arrow.swiper-button-next,
.villages__arrow.swiper-button-prev {
  top: 67%;
  right: 12px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-image: url('../img/arrow_right.png');
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;

  user-select: none;
}
.villages__arrow.swiper-button-prev {
  right: auto;
  left: 12px;
  transform: translateY(-50%) rotate(180deg);
}
.villages__arrow.swiper-button-next::after,
.villages__arrow.swiper-button-prev::after {
  content: '';
}
.villages__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}
.villages__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0 5px;
}
.villages__feature-number {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* margin-bottom: 11px; */
  /* padding: 15px 7px; */
  width: 70px;
  height: 51px;

  border-radius: 20px;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 28.169%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(180deg, rgb(49, 255, 45), rgb(9, 162, 24) 100%),
    rgb(217, 217, 217);

  font-size: 25px;
  letter-spacing: 1.6px;
  font-weight: 800;

  color: rgba(0, 0, 0, 0.8);
}
.villages__feature-text {
  display: block;

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.villages__feature-measure {
  margin-top: 2px;
  margin-left: 0;

  font-size: 20px;
}
/* #endregion */

@media (min-width: 1024px) {
  /* #region Villages */
  .villages {
    margin-top: 0;
    margin-bottom: 125px;
  }
  .villages__title {
    max-width: none;
    width: 415px;

    font-size: 51px;
    line-height: 1.2;
    color: black;
    text-shadow: 0px 6px 5.82px rgba(0, 0, 0, 0.25);
  }
  .villages__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 43px;
    padding-left: 64px;
    padding-right: 49px;
    padding-bottom: 28px;

    max-width: none;
    width: 880px;
    height: 387px;

    border-radius: 25px;
  }
  .villages__slider {
    margin-bottom: 0;
    width: 380px;
    height: 333px;
  }
  .villages__text-slider {
    width: 290px;
  }
  .villages__slide.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .villages__img {
    width: 380px;
    height: 283px;
  }
  .villages__slide-text {
    width: 290px;
    height: 300px;
  }
  .villages__name {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 30px;
    letter-spacing: 3.1px;
    text-align: left;
  }
  .villages__text {
    margin-bottom: 0;

    font-size: 13px;
    line-height: 18px;
    text-align: left;
  }
  .villages__pagination.swiper-pagination {
    top: 305px;
    left: 0;
  }
  .villages__pagination.swiper-pagination .swiper-pagination-bullet {
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
  }
  .villages__pagination.swiper-pagination .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
  }
  .villages__arrow.swiper-button-next,
  .villages__arrow.swiper-button-prev {
    top: 50%;
  }
  .villages__arrow.swiper-button-next,
  .villages__arrow.swiper-button-prev {
    width: 38px;
    height: 38px;
  }
  .villages__features {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: space-between; */
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .villages__feature {
    padding: 0;
  }
  .villages__feature-number {
    /* margin-bottom: 5px; */
    width: 70px;
    height: 51px;

    font-size: 25px;
    /* letter-spacing: 2.5px; */
  }
  .villages__feature-text {
    font-size: 15px;
  }

  /* #endregion */

  /* #region Consult */
  .consult-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    column-gap: 72px;
  }

  .consult-img {
    grid-area: 1 / 2 / 3 / 3;
  }
  .consult-text {
    grid-area: 1 / 1 / 2 / 2;
  }
  .consult-form {
    grid-area: 2 / 1 / 3 / 2;
  }
  /* #endregion */

  .calc-left-ellipse {
    transform: translate(-220px, 1970px);
    width: 754px;
    height: 675px;
  }
  .calc-right-ellipse {
    transform: translate(1370px, 1210px);
    width: 754px;
    height: 675px;
  }
  .slider-left-ellipse {
    transform: translate(130px, 3590px);
    width: 780px;
    height: 745px;
  }
  .consult-right-ellipse {
    transform: translate(1070px, 4440px);
    width: 1300px;
    height: 1235px;
  }
  .end-left-ellipse {
    transform: translate(-570px, 5490px);
    width: 1300px;
    height: 1235px;
  }
  .end-right-ellipse {
    transform: translate(1070px, 6470px);
    width: 1300px;
    height: 1235px;
  }
}
